html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0;
  font-family: sans-serif;
  background-color: #040348;
}

#page-layout {
  font-family: Arial, Helvetica, sans-serif;
  color: #f2bc94;
  margin-top: 1em;
  height: 100%;
}

header {
  font-size: 3em;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

input {
  border: none;
  background: none;
  background-color: lightcyan;
  width: 5em;
}

input:focus {
  outline: none;
}

.description {
  width: 60%;
  height: 15em;
  position: relative;
  word-wrap: break-word;
  margin: auto;
  margin-top: 2em;
  font-size: large;
}

.nn-parameters {
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  height: 80%;
  width: 20%;
  position: absolute;
  top: 10%;
  /* left: -17%; */
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#config-icon {
  align-self: flex-end;
  margin-right: 5%;
  margin-top: 3%;
  font-size: 2em;
}

#learning-rate {
  width: 100%;
}

#number-of-layers {
  width: 100%;
}

.learning-rate-label {
  font-weight: bold;
  color: #ffdf00;
  text-align: center;
}

.input-container {
  margin-top: 1em;
  height: 10%;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  background-color: red;
  border-radius: 0.5em;
  width: 90%;
}

@media (width >= 1024px) {
  #page-layout {
    width: 80%;
  }
}

@media (768px <= width < 1024px) {
  #page-layout {
    width: 90%;
  }
}

@media (width < 768px) {
  #page-layout {
    width: 100%;
  }
}
