<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Number Recognizer Visualzation </title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/app.js" type="module"></script>
    <script src="https://kit.fontawesome.com/3c0253c3b4.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/cytoscape@3.20.0/dist/cytoscape.min.js"></script>
</head>
<body>
    <div id="page-layout">
        <header> Number Reader Neural Network </header>
        <div class="description"> 
            This project implements a neural network in Python using numpy to classify handwritten digits from the MNIST dataset. 
            The goal is to understand the fundamental workings of neural networks by building one without relying on high-level frameworks like TensorFlow or PyTorch. 
        </div>
        <div class="nn-parameters">
            <i class="fa-solid fa-pen-to-square" id="config-icon"></i>
            <div class="input-container">
                <label for="learning-rate" class="input-label">
                    Learning Rate (Multiplied by 1000):
                </label>
                <input type="number" step="0.001" min="0.01" id="learning-rate">
            </div>
            <div class="input-container">
                <label for="number-of-layers" class="input-label">
                    Number of Layers:
                </label>
                <input type="number" min="1" step="1" id="number-of-layers">
            </div>
            <div class="input-container">
                <label for="nodes-per-layer" class="input-label">
                    Number of Nodes per Dense Layer
                </label>
                <input type="number" min="1" step="1" id="nodes-per-layer">
            </div>       
            <button id="save-parameters"> Save Parameters </button>
        </div>
        <div class="drawing-grid-container">
            <h1 id="drawing-grid-header"> Draw a Number </h1>
            <div id="drawing-grid"></div>
            <div class="controls">
                <button id="clear-btn">Clear</button>
                <button id="submit-btn">Submit</button>
                <button id="train-model"> Train-Model</button>
            </div>
        </div> 
        <div class="neural-network-container">
            <header> Neural Network Visualzation </header>
            <div id="neural-network-vis"></div>
        </div>
        <div class="nerual-network"></div>
    </div>
</body>
</html>